{
    "irc": {
        "server": "irc.snoonet.org",
        "port": 6667,
        "nick": "mxlbot",
        "nickpass": "password",
        "channels": [
            "##MarkovDisaster",
        ]
    },
    "rate_limit": {
        "messages": 10,
        "seconds": 30
    },
    "respond_without_prompt": {
        "messages_between": 20,
        "seconds_since_last_response": 18000
    },
    "message_randomly_time": 1800,
    "admin": ":maxle!maxle@user/maxle",
    "command_key": "~",
    "openai_api_key": "asdf",
    "model": "text-davinci-003",
    "history_to_keep": 1000,
    "max_tokens": 128
}
